body {
    color: var(--primary);
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    margin: 0 auto;
    padding: 0 1rem;
    background: var(--background);
    max-width: 1024px;
    box-sizing: border-box;
    transition: color 0.5s;
    transition: background 0.5s;

    --dark-background: #253A52;
    --dark-primary: #FFFFE3;
    --dark-link: #A9FE75;
    
    --light-background: #FFFFE3;
    --light-primary: #253a52;
    --light-link: #1348DA;

    --background: var(--light-background);
    --primary: var(--light-primary);
    --link: var(--light-link);
}

a {
    color: var(--link);
}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

/* separator bars */
nav,
section {
    border-block-end: 1px solid var(--primary);
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

header nav li {
    display: inline;
    margin-inline-start: 1rem;
    font-family: "Sora", sans-serif;
    font-weight: 700;
}

header nav li a {
    text-decoration: none;
    color: var(--primary);
}

/* container for dark-mode toggle */
header .controls {
    display: flex;
    justify-content: end;
    padding: 1rem 0;
}

.bio {
    display: flex;
    align-items: center;
    padding-block-end: 4rem;
}

.bio .profile-img {
    margin-inline-end: 4rem;
    width: 320px;
    min-width: 320px;
    background: #888;
    border-radius: 160px;
}

@media (max-width: 1024px) {
    .bio {
        flex-direction: column;
    }
}

.bio h2 {
    margin-block-end: 0;
}

.bio p {
    margin: 1.5rem 0;
}

a.btn {
    display: inline-flex;
    align-items: center;
    background: var(--link);
    color: var(--background);
    text-decoration: none;
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}
 
.recent-work {
    padding-block-end: 3rem;
}

article {
    display: flex;
    padding: 3rem 0;
}

article strong {
    font-style: italic;
    font-weight: 600;
}

article h3 {
    margin-block-start: 0;
}

article a {
    font-weight: 700;
    padding: 2rem 0;
}

article li {
    margin-block-end: 0.5;
}


article .article-img {
    width: 512px;
    margin-inline-start: 4rem;
}

@media (max-width: 1024px) {
    article {
        flex-direction: column;
    } 
    article .article-img {
        width: 100%;
        min-width: 100%;
        margin-inline-start: 0;
        margin-block-start: 2rem;
    }
}

footer {
    display: flex;    
    justify-content: space-between;    
}

.footer-links {     
     display: inline-flex;
     margin-inline-start: start;    
     padding-left: 0.825em;       
}

.footer-links li {
    list-style: none;
    margin-left: 0;    
}

.footer-links li a span {
    margin-right: 0.25rem;
} 

.footer-anchor {
    text-decoration: none;
    color: var(--primary);
}   

p.copyright {
    padding-right: 0.825em;
}

